.nav-link:hover {
  color: skyblue !important;
}

span:hover {
  color: blue !important;
}

.send:hover {
  background-color: rgb(33, 133, 247) !important;
}

@media (min-width: 576px) {
  h1,h4,p {
    text-align: left;
  }
  .h1{
    font-size: 50px;
  }

  .icon {
    align-items: start;
    justify-content: left !important;
  }
}

.contact {
  box-shadow: 5px 5px 8px rgba(255, 255, 255, 0.4);
}

input:focus {
  outline: none;
}
footer{
  border-top: 1px solid gray;
}