body {
    background-color: #1A1B1B;
}

h1,
h2,
h3,
h4,
h5,
h5,
p {
    letter-spacing: 0.4px;
}

.logo {
    width: 80px;
    height: 80px;
}

.aboutlist {
    cursor: pointer;
    color: white;
    font-size: 20px;
    /* transition: color 0.1s ease; */
}

/* li:hover {
    color: rgb(54, 54, 255);
} */

.btn1 {
    background: #31D3F3;
    color: white;
    padding: 7px;
    /* padding-left: 10px;
    padding-right: 10px; */
    border: none;
    transition: none;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: white;
}

.lh span:hover {
    color: blue;
}

.btn1 span:hover {
    color: blue;
}

.h1 {
    font-size: 60px;
    color: cyan;
}

.h1div1 {
    width: 55%;
    /* border: 1px solid white; */
}

.h1div2 {
    width: 30%;
    /* border: 1px solid white; */
}

.pic {
    width: 80%;
    margin-left: 45px;
}

.tp {
    /* border: 1px solid white; */
    margin-top: 70px;
    gap: 50px;
}

#icon {
    background-color: black;
    color: cyan;
    padding: 0px;

}

.sliderimg {
    width: 30%;
    height: auto;
}

.skill {
    background-color: #6D757C;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    outline: none;
    transform: none;
    /* Remove any scaling/transform effect */
    box-shadow: none;
    /* Remove the shadow on click */
    outline: none;
    margin-top: 0px;
    /* border: 1px solid white; */
    padding: 4px;
    font-weight: 500;
}

/* .btn{
    word-wrap: break-word;
} */
/* .b,
.bc,
.r,
.rc {
    width: 500px;
    height: 250px;
} */

.skilldiv {
    gap: 50px;
}

.skl {
    width: 38%;
    /* border: 1px solid white; */
    margin-top: 20px;
}

.skl1 {
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 40px;

    /* padding: 40px; */
}

.myedu {
    /* border: 1px solid white; */
    width: 30%;
    margin-top: 20px;
}

.h1myedu {
    color: cyan;
    margin-top: 40px;
}

.input,
.inputt {
    background-color: #1A1B1B;
    outline: none;
}

.contact {
    margin-top: 180px;
}

.form {
    width: 47%;
    /* height: ;  */
    box-shadow: 4px 4px 8px rgba(255, 255, 255, 0.5);
    border: 1px solid #6D757C;
}

.btnsent {
    width: 48%;
    padding-top: 12px;
    padding-bottom: 12px;
    color: cyan;
    background-color: #6D757C;
    border: none;
    transition: none;
}

.btnsent:hover {
    background-color: rgb(33, 133, 247);
    /* color: blue; */
}

.lp {
    font-weight: 400;
}

.custom-box {
    margin-top: 50px;
    width: 65%;
    /* height: 330px; */
    display: flex;
    /* align-items: center; */
    justify-content: center;
    background: #1A1B1B;
    border: 1px solid #ddd;
    border-radius: 0px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    padding: 0px;
    /* width: 60%; */
    /* margin: 2px auto; */
}

.sliderdiv {
    width: 100%;
    /* border: 1px solid #ddd; */
}

.bi,
.bic {
    width: 100%;
    height: auto;
}

/* Content styling */
.content h1 {
    color: cyan;
    font-size: 24px;
    /* margin-bottom: 10px; */
    margin-left: 100px;
}

.content p {
    color: #666;
    /* border: 1px solid white; */
    line-height: 1.6;
    margin-left: 100px;
}

.h2 {
    color: cyan;
}

/* @media (max-width: 320px) {
    .pic {
        width: 0%;
    }

    h1,
    h2,
    h3,
    p,
    li {
        font-size: 10px;
    }

    .logo {
        display: none;
    }
} */

@media (min-width: 320px) and (max-width: 767px) {
    
    .logo {
        display: none;
    }
    #icon {
        font-size: large;
    }
    
    #resume {
        font-size: smaller;
    }
    .about{
        margin-left: -60px;
        padding: 0px;
    }
    .aboutlist{
        font-size: 11px;
        /* border: 1px solid white; */
    }
    .lh{
        margin-top: -50px;
    }
    .h1{
        font-size: 30px;
    }
    .h2{
        font-size: 20px;
    }
    .pl{
        font-size: 9px;
        margin-left: -20px;
    }
    .custom-box{
        width: 50%;
        display: flex;
        /* justify-content: center; */
        flex-direction: column;
        /* margin-left: 30px; */
    }
    
    .skill{
        font-size: 9px;
    }
    .sec{
          /* border: 1px solid white; */
          margin-left: -30px;
          /* margin-top: -100px; */
          width: 80%;
    }
    .port{
        font-size: larger;
    }
    .btn1{
        margin-top: -50px;
        font-size: 11px;
        /* padding-right: 50px; */
        /* border: 1px solid white; */
    }

    .pic {
        width: 300%;
        margin-left:10px;
        margin-top: 365px;
    }
    .resume{
        margin-top: -50px;
    }
    .skl{
        margin-left: -50px;
    }
    .hskl{
        font-size: small;
        margin-top: -20px;
    }
   .contact{
         margin-top: 20px;
         margin-left: -100px;
    }
    .lasth1{
        font-size: 20px;
    }
    .input{
        width: 100%;
        padding: 2px;
    }
    
     .h1div1 {
          width: 70%;
          margin-left: 5px;
          /* border: 1px solid white; */
     }
     .btnsent{
        font-size: 10px;
        width: 20%;
        padding: 2px;
     }
    
     .h1div2 {
          width: 30%;
          margin-top: -200px;
          /* border: 1px solid white; */
}

    .tp {
        gap: 0px;
        width: 40%;
        /* border: 1px solid white; */
        margin-top: -10px;
    }
    p{
        font-size: 9px;
        /* margin-top: 0px; */
    }
    h4{
        font-size: 15px;
    }

    .skilldiv {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .skl1 {
        width: 70%;
        /* border: 1px solid white; */
    }

    .skl {
        width: 66%;
        /* border: 1px solid white; */

    }

    .myedu {
        width: 60%;
        /* font-size: small; */
        font-weight: 600;
        margin-left: -120px;
        margin-top: -50px;
        /* border: 1px solid white; */
    }

    .h1myedu {
        font-size: 20px;
    }
    .foot{
        margin-left: -100px;
    }

}

@media (min-width: 768px) and (max-width: 1024px) {
    
    
    .pic {
        width: 120%;
        margin-left: -50px;
        margin-top: 50px;
    }

    .nav {
        gap: 80x;
    }

    .aboutlist {
        font-size: larger;
        /* margin-right: 50px; */
    }
    .about{
        margin-right: -100px;
    }
    .myedu{
        width: 70%;
        /* border: 1px solid white; */
    }
    .h1myedu{
        font-size: 40px;
    }

    .p {
        font-size: larger;
        font-weight: 500;
    }
    .skilldiv{
        display: flex;
        flex-direction: column;
        align-items: center;
      }  

}

/* @media (min-width: 376px) and (max-width: 425px){ 
        .logo{
            display: none;
        }
        .pic {
            width: 120%;
        }
        .tp {
            gap: 0px;
        }

        .skilldiv {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .skl1 {
            width: 70%;
            /* border: 1px solid white; */


/* .skl {
            width: 66%; */
/* border: 1px solid white; */

/* }

        .myedu {
            width: 60%;
            font-size: 20px;
            font-weight: 600;
            border: 1px solid white;
        }

            .h1myedu {
                font-size: 45px;
            }
        

        .aboutlist {
            font-size: larger;
        }

} */
@media (min-width: 1441px) and (max-width: 4000px) {
    .pic {
        width: 50%;
        margin-left: -50px;
        margin-top: 50px;
    }
    .h1div1 {
        width: 30%;
        /* border: 1px solid white; */
    }
    .tp {
        display: flex;
        justify-content: space-around;
        margin-left: 300px;
        gap: 500px;  
    }
}